<form [formGroup]=locationPhraseForm (ngSubmit)="findPhrase(locationPhraseForm.value)">
    <div class="container" style="margin-top: 3ex;">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <p class="alignright"><label for="textId">:איתור מילה לפי המיקום שלה</label></p>
                        <input id="textId" formControlName="textId" style="margin-top: 2ex;" class="form-control"
                            type="text" dir="rtl" placeholder="מזהה הטקסט">
                        <input id="rowNum" formControlName="rowNum" style="margin-top: 2ex;" class="form-control"
                            type="number" dir="rtl" placeholder="שורה בטקסט">
                        <input id="wordInRow" formControlName="wordInRow" style="margin-top: 2ex;" class="form-control"
                            type="number" dir="rtl" placeholder="מיקום בשורה">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">חפש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<table style="margin-top: 3ex;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Phrase id</th>
            <th scope="col">Phrase</th>
            <th scope="col">Location from start - by charcters</th>
            <th scope="col">Location from start - by words</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phrase of phrases">
            <td>{{ phrase.id }}</td>
            <td>{{ phrase.phrase }}</td>
            <td>{{ phrase.locationFromStart }}</td>
            <td>{{ phrase.wordNumberInText }}</td>
        </tr>
    </tbody>
</table>