<form [formGroup]=addPhrasesGroupForm (ngSubmit)="addPhrasesGroup(addPhrasesGroupForm.value)">
        <div class="container" style="margin-top: 3ex;">
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <p class="alignright"><label for="lingusticExpression">:קבוצות של מילים בעלי משמעות מיוחדת</label></p>
                            <input id="groupName" formControlName="groupName" style="margin-top: 2ex;"
                                class="form-control" type="text" dir="rtl" placeholder="שם הקבוצה">
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">הוסף קבוצה</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    
<table style="margin-top: 3ex;" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Phrases group id</th>
                <th scope="col">Name</th>
                <th scope="col">Total words</th>
                <th scope="col">הוסף מילים לקבוצה</th>
                <th scope="col">הצג מילים בקבוצה כאינדקס</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let phrasesGroup of phrasesGroups">
                <td>{{ phrasesGroup.id }}</td>
                <td>{{ phrasesGroup.name }}</td>
                <td>{{ phrasesGroup.phraseCount }}</td>
                <td><a [routerLink]="['/AddPhraseToPhrasesGroup/phrasesGroupId', phrasesGroup.id]" class="btn btn-primary">הוסף</a></td>
                <td><a [routerLink]="['/ShowPhrasesGroup', phrasesGroup.id]" class="btn btn-danger">הצג</a></td>
            </tr>
        </tbody>
    </table>