<form [formGroup]=getTextForm (ngSubmit)="findByPhrase(getTextForm.value)">
    <div style="margin-top: 3ex;" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf='isByPhrase'>
                            <p class="alignright"><label for="phrase">:לפי ביטוי</label></p>
                            <input id="phrase" formControlName="phrase" class="form-control" type="text" dir="rtl" placeholder="הביטוי">
                        </div>
                        <div *ngIf='!isByPhrase'>
                            <p class="alignright"><label for="subjectKey">:לפי נתון מובנה</label></p>
                            <input id="subjectKey" formControlName="subjectKey" class="form-control" type="text" dir="rtl" placeholder="שם השדה">
                            <input id="subjectValue" formControlName="subjectValue" class="form-control" type="text" dir="rtl" placeholder="ערך השדה">
                        </div>
                        <button (click)="switchSearch()" style="margin-top: 3ex;" type="button">שנה לפי {{labelText}}</button>

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">חפש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<table style="margin-top: 3ex;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Text id</th>
            <th scope="col">Title</th>
            <th scope="col">Total words</th>
            <th scope="col">Add metadata</th>
            <th scope="col">Find phrase by location</th>
            <th scope="col">Show text phrases</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let text of texts">
            <td>{{ text.id }}</td>
            <td>{{ text.title }}</td>
            <td>{{ text.totalWords }}</td>
            <td><a [routerLink]="['/loadTextMetadata', text.id]" class="btn btn-danger">Add</a></td>
            <td><a [routerLink]="['/FindPhraseByLocation', text.id]" class="btn btn-danger">find</a></td>
            <td><a [routerLink]="['/showTextPhrases', text.id]" class="btn btn-primary">Show</a></td>
        </tr>
    </tbody>
</table>