<div class="row">
    <div class="col-9">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
      </div>

    <div class="col-3">
  <nav class="navbar flex-column navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="home">שירותי קונקורדנציה</a>
      <a class="nav-link" routerLink="getTexts" routerLinkActive="active">מסמכים במערכת</a>
      <a class="nav-link" routerLink="loadText" routerLinkActive="active">טעינת מסמכים</a>          
  </nav>
  </div>
</div>