<div class="row">
    <div class="col-9">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
      </div>

    <div class="col-3">
  <nav class="navbar flex-column navbar-expand-lg  text-center navbar-light bg-light">
      <a class="navbar-brand" routerLink="home">שירותי קונקורדנציה</a>
      <a class="nav-link" routerLink="getTexts" routerLinkActive="active">מסמכים במערכת</a>
      <a class="nav-link" routerLink="loadText" routerLinkActive="active">טעינת מסמכים</a>
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">טעינת נתונים מובנים</a>          
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">הצגת כל המילים בטקסט</a> 
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">הצגת כל המילים כאינדקס</a>
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">איתור מילה לפי המיקום שלה</a>
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">הגדת קבוצות של מילים בעלות משמעות מיוחדת</a>
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">אחסנת ביטויים לשוניים</a>
      <a class="nav-link" routerLink="loadTextMetadata" routerLinkActive="active">נתונים סטטיסטיים</a>
  </nav>
  </div>
</div>