<form [formGroup]=textPhrasesForm (ngSubmit)="findByText(textPhrasesForm.value)">
    <div style="margin-top: 3ex;" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <p class="alignright"><label for="textId">:הצגת כל המילים בטקסט</label></p>
                        <input id="textId" formControlName="textId" class="form-control" type="number" placeholder="מזהה טקסט" dir="rtl">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">חפש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<table style="margin-top: 3ex;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Phrase id</th>
            <th scope="col">phrase</th>
            <th scope="col">Text id</th>
            <th scope="col">Add to defined group</th>
            <th scope="col">Show context</th>
            <th scope="col">Show phrase index</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phrase of phrases">
            <td>{{ phrase.id }}</td>
            <td>{{ phrase.phrase }}</td>
            <td>{{ phrase.textId }}</td>
            <td><a [routerLink]="['/AddPhraseToPhrasesGroup/phrase', phrase.phrase]" class="btn btn-danger">Add</a></td>
            <td><a [routerLink]="['/ShowContextPhraseComponent/', phrase.id]" class="btn btn-primary"> Show Context</a></td>
            <td><a [routerLink]="['/ShowTextPhrasesAsIndex/', phrase.phrase]" class="btn btn-primary">Show index</a></td>
        </tr>
    </tbody>
    <button *ngIf="isPhrasesWithWords()" (click)='next1000Words()' class="btn btn-primary">אלף המילים הבאות</button>
</table>