<form [formGroup]=lingusticExpressionForm (ngSubmit)="addPhrase(lingusticExpressionForm.value)">
    <div class="container" style="margin-top: 3ex;">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <p class="alignright"><label for="newPhrase">:אחסנת ביטויים לשוניים</label></p>
                        <input id="newPhrase" formControlName="newPhrase" style="margin-top: 2ex;"
                            class="form-control" type="text" dir="rtl" placeholder="ביטוי לשוני">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">הוסף</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<table style="margin-top: 3ex;" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Phrase</th>
            <th scope="col">Search</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phrase of phrases">
            <td>{{ phrase.phrase }}</td>
            <td><a [routerLink]="['/SearchLinguisticExpression', phrase.phrase]" class="btn btn-primary">Search</a></td>
        </tr>
    </tbody>
</table>